In [28]:
import pandas as pd
df = pd.read_csv('../filtered_alc_mort.csv', index_col=0)
df.head()
df['Data_Value'] = df['Data_Value'].replace("-", 0)
df['Data_Value'] = pd.to_numeric(df['Data_Value'])
df

,LocationDesc,ConditionType,Category,Cause_of_Death,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Effect,ConsumptionPattern,Sex,AgeCategory,AgeGroup,ConditionTypeID,AgeCategoryID
1,West Virginia,Chronic,Total,Total for All Causes,0.0,0.0,NaN,NaN,Harmful Effects,Excessive Alcohol Use,Female,Under 21,Overall,EXCSVE,UN21
2,West Virginia,Total,Total,Total for All Causes,7.0,7.0,NaN,NaN,Harmful Effects,Excessive Alcohol Use,Female,Under 21,Overall,EXCSVE,UN21
3,United States,Acute,Alcohol-Related Poisonings,Alcohol poisoning,13.0,13.0,NaN,NaN,Harmful Effects,Excessive Alcohol Use,Female,Under 21,Under 21,ACUTE,UN21
4,United States,Acute,Alcohol-Related Poisonings,Alcohol poisoning,1761.0,1761.0,NaN,NaN,Harmful Effects,Excessive Alcohol Use,Male,Other,Overall,ACUTE,OTH
5,West Virginia,Acute,Total,Total for All Causes,367.0,367.0,NaN,NaN,Harmful Effects,Any Alcohol Use,Male,Other,Overall,ANYALC,OTH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62500,Wyoming,Chronic,Total,Total for All Causes,83.0,83.0,NaN,NaN,Harmful Effects,Any Alcohol Use,Overall,Other,65+,ANYALC,OTH
62501,Wyoming,Total,Total,Total for All Causes,102.0,102.0,NaN,NaN,Harmful Effects,Any Alcohol Use,Overall,Other,65+,ANYALC,OTH
62502,Wyoming,Acute,Total,Total for All Causes,19.0,19.0,NaN,NaN,Harmful Effects,Excessive Alcohol Use,Overall,Other,65+,EXCSVE,OTH
62503,Wyoming,Chronic,Total,Total for All Causes,77.0,77.0,NaN,NaN,Harmful Effects,Excessive Alcohol Use,Overall,Other,65+,EXCSVE,OTH
62504,Wyoming,Total,Total,Total for All Causes,96.0,96.0,NaN,NaN,Harmful Effects,Excessive Alcohol Use,Overall,Other,65+,EXCSVE,OTH

In [38]:
df_short = df[["LocationDesc", "Data_Value", 'Category', 'Sex']]
df_short = df_short[df_short['Category'] == 'Total']
df_short = df_short[df_short['Sex'] != 'Overall']
df_short.head()

    LocationDesc  Data_Value Category     Sex
1  West Virginia         0.0    Total  Female
2  West Virginia         7.0    Total  Female
5  West Virginia       367.0    Total    Male
6  West Virginia       406.0    Total    Male
7  West Virginia       773.0    Total    Male

In [39]:
df_short_grouped = df_short.groupby(['LocationDesc', 'Sex']).max()

In [40]:
df_short_grouped = df_short_grouped[df_short_grouped['Data_Value'] != 0.0]
df_short_grouped.head()

                     Data_Value Category
LocationDesc Sex
Alabama      Female       635.0    Total
             Male        1680.0    Total
Alaska       Female       153.0    Total
             Male         293.0    Total
Arizona      Female      1163.0    Total

In [41]:
df_short_grouped.to_csv('../donut_plot.csv')